@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.title {
  padding: 3vh 0vh;
}

.App {
  text-align: center;
  background-color: rgb(247, 248, 252);
  font-family: "Lora", serif;
  width: 100vw;
  min-height: 100vh;
}
ul {
  list-style-type: none;
}

.decide-length-of-code,
.options-wrapper,
.app-button {
  margin-bottom: 3vh;
}

.decide-length-of-code {
  text-align: center;
  margin-top: 3vh;
}
.code-length-input {
  min-width: 24px;
  width: 3vw;
  margin: auto 1vw;
}

.error-message {
  font-style: italic;
}

.app-button {
  margin: 0 5px;
  color: white;
  min-height: 50px;
  min-width: 40px;
  border-radius: 8%;
  box-shadow: 0;
  border: none;
}

.app-button-generate {
  background-color: #4caf50;
}

.app-button-reset {
  background-color: #f44336;
}

.error-message {
  color: red;
}

.result-wrapper {
  margin-top: 3vh;
}
