@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.App {
  text-align: center;
  background-color: #e0d3de;
  font-family: "Lora", serif;
  width: 100vw;
  min-height: 100vh;
}
ul {
  list-style-type: none;
}

.decide-length-of-code {
  text-align: center;
}
.code-length-input {
  width: 40px;
}
.app-button {
  margin: 0 5px;
  color: white;
  min-height: 50px;
  min-width: 40px;
} 

.app-button-generate {
  background-color: #4caf50;
}

.app-button-reset {
  background-color: #f44336;
}

.error-message {
  color: red;
}
